.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5% 3%;
  background-color: #f8f8f8;
}

.navbar img {
  height: 60px;
  width: auto;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  list-style: none;
  font-size: 20px;
  padding: 0 25px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

#logout {
  cursor: pointer;
}