.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5% 3%;
  background-color: #F8F8F8;
}

.navbar img {
  height: 60px;
  width: auto;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  list-style: none;
  font-size: 20px;
  padding: 0 25px;
}

