.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Table {
  width: 70%;
}

.Table td {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

.Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(26 37 103);
  color: white;
}

.pagination {
  margin-top: 40px;
}

.pagination input {
  margin: 0 10px;
  width: 50px;
  height: 30px;
  border: 0.5px solid black;
}

.pagination select {
  margin: 0 10px;
  height: 35px;
  font-size: medium;
  margin-bottom: 10px;
}

.pagination button {
  width: 8rem;
  height: 30px;
  margin: 15px;
}

.search {
  position: relative;
  left: 26%;
  margin: 2rem !important;
  display: inline-block;
  font-weight: 300;
}

.search input {
  margin: 0 2px;
  height: 25px;
  width: 200px;
  border-radius: 3px;
  border: 3px solid black;
}

.table button {
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: aliceblue;
}

.table button:hover {
  background-color: rgb(30, 55, 77);
  color: white;
}

.table img {
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
  top: 15px;
  margin: 0 10px;
}

.new {
  display: inline-block;
  position: absolute;
  /* top: 30px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  /* right: -100px; */
  display: none;
}

.table img:hover + .new {
  display: inline-block;
}
