.home {
  background-color: #5a4ae2;
  min-height: calc(100vh - 83px);
  position: relative;
}

.homeButtons {
  box-shadow: #5a4ae2 1.95px 1.95px 2.6px;
  height: 600px;
  width: 1200px;
  background-color: #f8f8f8;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeIcon img {
  height: 100px;
}

.homeIcon {
  width: 15%;
  height: 20%;
  padding: 20px;
  margin: 4%;
  box-shadow: black 1.95px 1.95px 2.6px;
}

.homeIcon {
  text-decoration: none;
  color: black;
}
